body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding-top: 40px;
}

h1 {
  color: #2e7d32;
}

.box {
  background: white;
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #2e7d32;
  color: white;
  border: none;
  cursor: pointer;
}
